// COLORS
$blue:          #00A0DB;
$purple:        #362A83;
$light-purple:  #A01F80;
$pink:          #E40274;
$red:           #E31E2F;
$orange:        #EC7B23;
$yellow:        #FFE900;
$light-green:   #9ABD36;
$green:         #009547;

@import "font-awesome-sass/assets/stylesheets/font-awesome";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

body { 
    background-image: url('/images/bg.png')
}

/* Helper Classes */
.clear {
    clear:both;
}

.text-center {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.img-float {
    float:left;
}

.img-max-height {
    max-height: 250px;
}

// HEADER
header {
    text-align: center;
    position: relative;
    width: 100%;
    background-color: $purple;
    color: white;

    a {
        line-height: 2em;
    }
    h1 {
        // position: relative;
        // top: 20px;
        padding: 25px;
        margin: 0;
    }
}

.filter {
    padding:0.3em 0em;
    text-align: center;
    background-color: darken($purple,2%);
    color: white;

    input[type='text']{
        padding: 0.3em 0.3em;
        margin-right: 1em;
        color: $purple;
    }
}

.errormsg {
    margin-top: 10px;
    font-size: 20pt;
    color: $red;
}

.wrapper {
    * {
        // outline: 1px solid red;
    }

    background-color: #fff;
    border: 1px solid $purple;
    color: $purple;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 35px;
    margin-right: 35px;
    box-shadow: 2px 2px 2px #ddd, -2px 2px 2px #ddd;

    .title {
        padding: 1em;
        float: left;
        width: 30%;

        .less {
            margin-top: 1em;
        }
    }

    .widget {
        padding: 1em;
        float: right;
        width: 70%;
        .widget-inner {
            padding: 0 0.5em;
        }
    }



    .content {
        padding: 1em;

        .equips {
            margin-top: 1em;
            li {
                list-style-type: none;
            }    
        }
        
        .galery {
            padding: 1em;

            img {
                margin: 10px;
            }
        }
    }

    .toolbar {
        margin: 1em 0;

        button {
            background-color: $purple;
            color: white;
            border: none;
            padding: 1em;
            &:hover {
                background-color: darken($purple,10%);
            }
            &:active {
                background-color: lighten($purple, 10%);
            }
            &:first-child {
                float:left;
            }
            &:last-child {
                float:right;
            }
        }
    }

    .xtras {
        margin-top: 1em;
    }

    &:hover {
        // background-color: lighten($blue,45%);
    }
}

// BOOKING PAGE
.section-booking {
    background-color: #fff;
    box-shadow: 2px 2px 2px #ddd, -2px 2px 2px #ddd;
    border: 1px solid $purple;
    margin: 1em;
}
.booking-widget {
    margin-top: 1em;
    padding: 0 1em;

    .widget {
        width: 80%;
        display: table;
        margin: 0 auto;
    }
}

.form-date {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    div {
        display: block;
    }
    select {
        background-color: #fff;
        border: none;
        clear: both;
        color: $purple;
        border: 1px solid $purple;
        border-radius:0px;
        height: 2.5em;
    }

    .timeError {
        margin-top: 1em;
        color: $red;
    }
}
.form-book {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-holder {
    width: 100%;
    label {
        text-align: right;
        width: 20%;
        display:block;
        float:left;
        padding: 0.3em;
        padding-right: 1em;
    }
    input {
        color: $purple;
        background-color: #fff;
        border-radius: 0px;
        border: 1px solid $purple;
        padding: 0.3em;
    }
    margin: 0.5em;
}

.booking-toolbar {
    padding: 1em;
}
.form-atendees-confirmed {
    padding: 2em 1em;
    text-align: center;

    .atendee-button {
        margin: 0.25em 0.25em;
        border: 1px solid $purple;
        display: inline-block;
        padding: 0.5em;
        background-color: lighten($purple, 50%);

        &:hover {
            background-color: lighten($purple, 30%);
        }
        .fa:hover {
            cursor: pointer;
            color: #fff;
        }
    }
}

.offset-25 {
    margin-left: 25%;
}
.w50 {
    width: 50%;
    float: left;
}

.btn-1aim {
    background-color: $purple;
    color: white;
    border: none;
    padding: 1em;
    &:hover {
        background-color: darken($purple,10%);
    }
    &:active {
        background-color: lighten($purple, 10%);
    }
    &[disabled] {
        background-color: desaturate($purple, 100);
    }
}
.form-atendees {
    button {
        background-color: $purple;
        color: white;
        border: none;
        padding: 1em;
        &:hover {
            background-color: darken($purple,10%);
        }
        &:active {
            background-color: lighten($purple, 10%);
        }
    }
}

// END BOOKING

.spacer {
    height: 1.5em;
    &:after {
        content: '';
    }
}

.wgHour {
    position: relative;
    width: calc(100%/12);
    display: block;
    float: left;
    margin-top: 1em;
    padding: 0em 0.1em;
}
.wgTitle {
    font-weight: bold;
    display: block;
    // padding: 0.1em 0.4em;
    margin-left: -0.5em;
    text-align:left;
}
.wgLastTitle {
    float: right;
    position: absolute;
    top: 0;
    right:-0.5em;    
}
.wgBlocks {
    display: block;
    float:left;
    background-color: $green;
    // padding: 0.1em 0.4em;
    color: #000;
    width: 25%;
    height:13px;
    &.occupied {
        background-color: $red;
    }    
    &.hover:hover {
        cursor: pointer;
        background-color: $yellow;
    }
    &.slotSelected   {
        background-color: $yellow;
    }
}

.formError {
    border: 1px solid $red !important;
}



.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0,0,0,0.5);
}


$loaderSize: 3em;
.backdrop > div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: $loaderSize;
    height: $loaderSize;
    margin-top: -$loaderSize/2;
    margin-left: -$loaderSize/2;
    // background-color: #f90;
}


/* CSS SPINNER */
.loader {
    margin: 1px auto;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(255, 255, 255, 0.2);
    border-right: 0.3em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
    border-left: 0.3em solid rgb(255, 255, 255);
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;

}
.loader,
.loader:after {
    border-radius: 50% !important;
    width: $loaderSize;
    height: $loaderSize;

}
@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$loaderSize/2;
    margin-left: -$loaderSize/2;
}

.loader2 {
    margin: 1px auto;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(0, 0, 0, 0.2);
    border-right: 0.3em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.3em solid rgba(0, 0, 0, 0.2);
    border-left: 0.3em solid rgb(0, 0, 0);
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;

}

.loader2,
.loader2:after {
    border-radius: 50% !important;
    width: $loaderSize;
    height: $loaderSize;

}