<header>
	<div class="headMain">
    	<h1>
    		<span ui-sref="main">
    			<i class="fa fa-chevron-left"></i>
    		</span>
    		Room: {{room.name}}
    	</h1>
	</div>
</header>

<section class="section-booking">
	<div class="booking-toolbar text-center">
		<button class="btn-1aim" ng-click="clickBook()" ng-disabled="waitFinish">Book</button>
	</div>
	<hr>
	<div class="booking-widget">
		<div class="widget">
	        <span ng-repeat="hour in room.timeSlot track by $index" class="wgHour">
	            <span class="wgTitle">{{$index+7 | hour}}</span>
	            <span ng-if="$index == 11" class= "wgTitle wgLastTitle">19</span>
	            <span class="wgBlocks hover" ng-click="clickTime($parent.$index, $index)" ng-class="{occupied: !free,slotSelected:free==2}" ng-repeat="free in hour track by $index"></span>
	        </span>
	        <div class="clear"></div>
	    </div>
    </div>
    <div class="form-date">
		<form>
			<div>
				<label>Initial Time</label>
				<select ng-model="initHour" ng-change="checkTimeInterval()"
					ng-options="item.value as item.label for item in hours">
				</select>
				<select ng-model="initMin" ng-change="checkTimeInterval()"
					ng-options="item.value as item.label for item in mins">
				</select>
				<label>End time:</label>
				<select ng-model="endHour" ng-change="checkTimeInterval()"
					ng-options="item.value as item.label for item in hours">
				</select>
				<select ng-model="endMin" ng-change="checkTimeInterval()"
					ng-options="item.value as item.label for item in mins">
				</select>
			</div>
			<div class='timeError'>
				{{timeError}}
			</div>
		</form>
	</div>
	<hr>
	<div class="form-book text-center">
		<div class="w50 offset-25">
			<div class="form-holder">
				Event Name
			</div>
			<div class="form-holder">
				<input autocomplete="off" type="text" style="width: 100%" ng-model="book.booking.title" placeholder="Meeting">
			</div>
			<div class="form-holder">
				Event Description
			</div>
			<div class="form-holder">
				<input autocomplete="off" type="text" style="width: 100%" ng-model="book.booking.description" placeholder="Description of the event">
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
	<hr>
	<div class="form-atendees">
		<div class="w50">
			<div class="form-holder">
				<label>Name</label>
				<input autocomplete="off" type="text" name="name" ng-model="user.name" ng-class="{formError:err.name}">
			</div>
			<div class="form-holder">
				<label>E-mail</label>
				<input autocomplete="off" type="text" name="email" ng-model="user.email" ng-class="{formError:err.email}">
			</div>
			<div class="form-holder">
				<label>Phone</label>
				<input autocomplete="off" type="text" name="number" maxlength=15 ng-model="user.number" ng-class="{formError:err.number}">
			</div>

			<div class="spacer"></div>

			<div class="offset-25">
				<button ng-click="addAtendee()">Add Atendee</button>
			</div>

		</div>
		<div class="w50">
			<div class="form-atendees-confirmed">	
				<div class="atendee-button" ng-repeat="pass in book.passes">
					{{pass.name}} <i ng-click="removeAtendee($index)" class="fa fa-times"></i>
				</div>
				<div ng-if="book.passes == 0">
					<i class="fa fa-chevron-left"></i> use this form to add some atendees! :)
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="booking-toolbar text-center">
		<button class="btn-1aim" ng-click="clickBook()" ng-disabled="waitFinish">Book</button>
	</div>

</section>

<div class="backdrop" ng-if="isLoading">
	<div class="loader">Loading</div>
</div>