    <header>
        <div class="headMain">
            <h1>
            <!-- <i class="fa fa-chevron-left"></i> -->
            <quick-datepicker 
                on-change="dateChange()"
                date-filter="dateFilter" 
                disable-clear-button="true" 
                date-format="d/M/yyyy" 
                disable-timepicker="true" 
                disable-datepicker="true" 
                ng-model='myDate'></quick-datepicker>
            <!-- <i class="fa fa-chevron-right"></i> -->
            </h1>
        </div>
    </header>
    <section>
        <div class="filter">
            <input type="text" placeholder="Room name" ng-model="search">
            <label><input type="checkbox" ng-model="canCheckAvail"> Avaliable Rooms</label></input>
        </div>
    </section>

    <section>
        <div ng-if="errmsg" class="errormsg text-center">
            {{errmsg}}
        </div>
        <div ng-if="rooms">
            <div ng-if="rooms.length == 0">
                <div class="loading-container">
                    <div class="loader2">
                    </div>
                </div>
            </div>
            <div class="wrapper" ng-repeat="room in rooms| filter:{name:search} | filter:checkAvail">
                
                <div class="title">
                    <h3>{{room.name}}</h3>
                    <div class="less">
                        <p>Location: {{room.location}}</p>
                        <p>Size: {{room.size}}</p>
                        <p>Capacity: {{room.capacity}}</p>
                    </div>
                </div>

                 <div class="widget">
                    <h3>Avaliable:</h3>
                    <div class="widget-inner">
                        <span ng-repeat="hour in room.timeSlot track by $index" class="wgHour">
                            <span class="wgTitle">{{$index+7 | hour}}</span>

                            <span ng-if="$index == 11" class="wgTitle wgLastTitle">19</span>
                            <span class="wgBlocks" ng-class="{occupied: !teste}" ng-repeat="teste in hour track by $index">
                                <!-- {{$index*15 | hour}} -->
                            </span>
                        </span>
                        <div class="clear"></div>
                    </div>
                    <!-- <span class="wgHour">
                        <span class="wgTitle">19</span>
                    </span> -->
                    
                </div>

                <div class="clear"></div>

                <div class="content">
                    <!-- <pre>{{room | json}}</pre> -->
                    <p class="toolbar">
                        <button ng-click="room.showMore = !room.showMore">Detail</button>
                        <button ng-click="clickBook(room)">Book</button>
                        <div class="clear"></div>
                    </p>

                    <div class="xtras" ng-if="room.showMore">
                        <hr>

                        <div class="equips">
                            <span><b>Equipaments:</b></span>
                            <ul>
                                <li ng-repeat='equip in room.equipment'>
                                    {{equip}}
                                </li>
                            </ul>
                        </div>
                        <div class="galery">
                            <div ng-repeat='img in room.images'>
                                <img class="img-responsive img-float img-max-height" ng-src="https://challenges.1aim.com/roombooking/{{img}}">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>