                <div class="hourmenu">
                    <div class="hour">
                        <span>07:00</span>
                        <div class="quarter">
                            <div class="free">&nbsp;</div>
                            <div class="free">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="free">&nbsp;</div>
                        </div>
                    </div>

                    <div class="hour">
                        <span>08:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>

                    <div class="hour">
                        <span>09:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class="hour">
                        <span>10:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class="hour">
                        <span>11:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class="hour">
                        <span>12:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class="hour">
                        <span>13:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class="hour">
                        <span>14:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class="hour">
                        <span>15:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>

                    <div class="hour">
                        <span>16:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>

                    <div class="hour">
                        <span>17:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>

                    <div class="hour">
                        <span>18:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class="hour">
                        <span>19:00</span>
                        <div class="quarter">
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                            <div class="ocuppied">&nbsp;</div>
                        </div>
                    </div>
                    <div class='clear'></div>
                </div>